olympos/chronos/scr/generator/testmodels/models/sourcemodels/MappingModels/referenceWSDLs/wsdl-gen/wsdl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
    xmlns:insertanewmoviewithnoncompilantapi.olympos.sourceforge.net="http://insertanewmoviewithnoncompilantapi.olympos.sourceforge.net/"
    xmlns:schema="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:soapHttp="http://schemas.xmlsoap.org/wsdl/soap/http" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="InsertanewmoviewithnoncompilantAPIServiceService"
    targetNamespace="http://insertanewmoviewithnoncompilantapi.olympos.sourceforge.net/">
  <wsdl:types>
    <schema:schema targetNamespace="http://insertanewmoviewithnoncompilantapi.olympos.sourceforge.net/">
      <schema:complexType abstract="false" name="Film">
        <schema:sequence>
          <schema:element maxOccurs="1" minOccurs="0" name="director" type="schema:string"/>
          <schema:element maxOccurs="1" minOccurs="0" name="filmType" type="schema:string"/>
          <schema:element maxOccurs="1" minOccurs="0" name="insertANewMovieWithnoncompilantAPIRequest"
              type="schema:IDREF"/>
          <schema:element maxOccurs="1" minOccurs="0" name="insertANewMovieWithnoncompilantAPIRequest"
              type="schema:IDREF"/>
          <schema:element maxOccurs="1" minOccurs="0" name="lenght" type="schema:string"/>
          <schema:element maxOccurs="1" minOccurs="0" name="nation" type="schema:string"/>
          <schema:element maxOccurs="1" minOccurs="0" name="titel" type="schema:string"/>
        </schema:sequence>
      </schema:complexType>
      <schema:complexType abstract="false" name="insertANewMovieWithnoncompilantAPIResponse">
        <schema:sequence/>
      </schema:complexType>
      <schema:complexType abstract="false" name="insertANewMovieWithnoncompilantAPIRequest">
        <schema:sequence>
          <schema:element maxOccurs="1" minOccurs="0" name="film" type="schema:IDREF"/>
          <schema:element maxOccurs="1" minOccurs="0" name="film" type="schema:IDREF"/>
        </schema:sequence>
      </schema:complexType>
      <schema:complexType name="executeInsertanewmoviewithnoncompilantAPI">
        <schema:sequence>
          <schema:element minOccurs="0" name="request" type="insertanewmoviewithnoncompilantapi.olympos.sourceforge.net:insertANewMovieWithnoncompilantAPIRequest"/>
        </schema:sequence>
      </schema:complexType>
      <schema:complexType name="executeInsertanewmoviewithnoncompilantAPIResponse">
        <schema:sequence>
          <schema:element minOccurs="0" name="response" type="insertanewmoviewithnoncompilantapi.olympos.sourceforge.net:insertANewMovieWithnoncompilantAPiResponse"/>
        </schema:sequence>
      </schema:complexType>
      <schema:complexType name="RequestValidationException"/>
      <schema:element name="executeInsertanewmoviewithnoncompilantAPI" type="insertanewmoviewithnoncompilantapi.olympos.sourceforge.net:executeInsertanewmoviewithnoncompilantAPI"/>
      <schema:element name="executeInsertanewmoviewithnoncompilantAPIResponse" type="insertanewmoviewithnoncompilantapi.olympos.sourceforge.net:executeInsertanewmoviewithnoncompilantAPIResponse"/>
      <schema:element name="RequestValidationException" type="insertanewmoviewithnoncompilantapi.olympos.sourceforge.net:RequestValidationException"/>
    </schema:schema>
  </wsdl:types>
  <wsdl:message name="executeInsertanewmoviewithnoncompilantAPI">
    <wsdl:part element="insertanewmoviewithnoncompilantapi.olympos.sourceforge.net:executeInsertanewmoviewithnoncompilantAPI"
        name="parameters"/>
  </wsdl:message>
  <wsdl:message name="executeInsertanewmoviewithnoncompilantAPIResponse">
    <wsdl:part element="insertanewmoviewithnoncompilantapi.olympos.sourceforge.net:executeInsertanewmoviewithnoncompilantAPIResponse"
        name="parameters"/>
  </wsdl:message>
  <wsdl:message name="RequestValidationException">
    <wsdl:part element="insertanewmoviewithnoncompilantapi.olympos.sourceforge.net:RequestValidationException"
        name="RequestValidationException"/>
  </wsdl:message>
  <wsdl:portType name="InsertanewmoviewithnoncompilantAPIService">
    <wsdl:operation name="executeInsertanewmoviewithnoncompilantAPI">
      <wsdl:input message="insertanewmoviewithnoncompilantapi.olympos.sourceforge.net:executeInsertanewmoviewithnoncompilantAPI"
          name="executeInsertanewmoviewithnoncompilantAPI"/>
      <wsdl:output message="insertanewmoviewithnoncompilantapi.olympos.sourceforge.net:executeInsertanewmoviewithnoncompilantAPIResponse"
          name="executeInsertanewmoviewithnoncompilantAPIResponse"/>
      <wsdl:fault message="insertanewmoviewithnoncompilantapi.olympos.sourceforge.net:RequestValidationException"
          name="RequestValidationException"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="InsertanewmoviewithnoncompilantAPIServiceSoapBinding" type="insertanewmoviewithnoncompilantapi.olympos.sourceforge.net:InsertanewmoviewithnoncompilantAPIService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="executeInsertanewmoviewithnoncompilantAPI">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="executeInsertanewmoviewithnoncompilantAPI">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="executeInsertanewmoviewithnoncompilantAPIResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="RequestValidationException">
        <soap:fault use="literal" name="RequestValidationException"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InsertanewmoviewithnoncompilantAPIServiceService">
    <wsdl:port binding="insertanewmoviewithnoncompilantapi.olympos.sourceforge.net:InsertanewmoviewithnoncompilantAPIServiceSoapBinding"
        name="InsertanewmoviewithnoncompilantAPIServicePort">
      <soap:address location="http://localhost:8080/services/insertanewmoviewithnoncompilantAPI"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>